	button {
		background-color: green;
		color: #fff;
		border: none;
		padding: 10px 20px;
		margin: 10px;
		border-radius: 5px;
		cursor: pointer;
	}
body {
            text-align: center;
            background-color: #fff;
            font-size:25px;
        }
	button:hover {
		background-color: #5c5c5c;
	}

