
body {
            background-color: lightblue;
            text-align: center;
            background-color: lightblue;
            font-size:25px;
		}
    


.login-container {
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 50px auto;
	max-width: 150px;
	padding: 20px;
}

h1 {
	text-align: center;
}

.form-group {
	margin-bottom: 10px;
}

label {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
	border: 1px solid #ccc;
	border-radius: 1px;
	box-sizing: border-box;
	font-size: 16px;
	padding: 10px;
	width: 40%;
}

button[type="submit"] {
	background-color: #4CAF50;
	border: none;
	border-radius: 1px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	margin-top: 20px;
	padding: 10px;
	width: 15%;
}

button[type="submit"]:hover {
	background-color: #3e8e41;
}
